/*common.css*/
.w100{width: 100%;}

.head { height: 92px; }
.head .tel-box { margin: 15px auto; }
.head .tel-box img{margin-right: 5px;}
.head .tel { line-height: 35px; font-size: 22px; color: #5c5c5c; }
.head .tel i{margin-right:5px;width:41px;height: 41px;}
.head .tel span{color:#333;}
.nav { margin-top: 20px; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #e5e5e5;}

.banner img{margin-bottom: 10px;}

.carousel .carousel-inner img{height: 490px;}

.company-profile{margin-bottom: 30px;}
.intro-container{margin-top: 20px;}
.intro-container h4{padding-bottom:10px;border-bottom: 1px solid #e5e5e5;}
.intro-container h4 span{margin-left:5px;font-size:15px;color:#ff6715;}
.project-wrap img{height: 200px;}

.footer{margin-top:50px;padding-top:20px;height:80px;background: #0B0A1E; color:#fff;}
.footer .link-tab {color:#333;}
.footer .link-tab a{margin:0 10px;color:#fff;}
.footer .copyright{margin-top: 10px;}
.footer .copyright a{color:#fff;}

@media screen and (max-width: 760px) {
    .head{height:1.3rem;font-size: .2rem;}
    .head img{width: 3.5rem;}
    .head .tel{line-height: .4rem;font-size: .24rem;}
    .head .tel img{width:.4rem;height: .4rem;}
    .nav a{margin-bottom: .08rem;}

    .carousel{margin:0 .2rem;}
    .project-wrap img{height: 1.2rem;}

    .carousel-inner{height:3rem;}
    .carousel-inner>.item{height: 100%;}
    .carousel .carousel-inner img{height: 100%;}
}